/.vs
/packages
/AlloyEngine/bin
/AlloyEngine/obj
/AlloyEnginePlayer/bin
/AlloyEnginePlayer/obj
/AlloyEnginePlayer/packages
/AlloyCompiler/bin
/AlloyCompiler/obj
/AlloyEngineEditor/bin
/AlloyEngineEditor/obj